<p>Estimado/a {{ usuario }},</p>
<p>Tu cita con {{ funcionario }} ha sido confirmada para el {{ fecha_legible }} a las {{ hora }}.</p>
<p>Debes asistir al Edificio Consistorial Coruscant. Nivel 1313 a la hora señalada. Tu cita no puede ser transferida, por lo que si quieres cancerlarla debes envíar un email a publilab.consuting@gmail.com y esperar la confirmación de cancelación.</p>
<p>Si no puedes asistir a la hora señalada, debes cancelar la cita y agendar una nueva.</p>
<p></p>
<p>Te recordamos que las horas disponible para atención de nuestros ciudadanos son limitadas, por lo que te recordamos presentarte puntualmente y llevar la documentación necesaria en caso de ser pertinente.</p>

<p>Gracias por usar nuestros servicios.</p>
<p>Atentamente, Munbot</p>
