fastapi
uvicorn[standard]
redis
llama-cpp-python>=0.2.11
dateparser
requests
psycopg2-binary
rapidfuzz
fakeredis
chilean-rut
phonenumbers
prometheus-client>=0.20.0
prometheus-fastapi-instrumentator
python-json-logger
scikit-learn>=0.24.2
httpx
sentence-transformers==2.7.0
numpy
pytest
pytest-mock