QDRANT_HOST=qdrant
QDRANT_PORT=6333
QDRANT_COLLECTION=munbot_docs
EMBEDDINGS_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
EMBEDDINGS_DIM=384
DOCS_DIR=/app/documents
QDRANT_SIMILARITY_THRESHOLD=0.5
