fastapi>=0.68.0
uvicorn>=0.15.0
requests>=2.25.1
nltk==3.7
scikit-learn>=0.24.2
prometheus_client>=0.16.0
git+https://github.com/huggingface/transformers.git@main#egg=transformers
git+https://github.com/huggingface/accelerate.git@main#egg=accelerate
bitsandbytes>=0.43.0
sentence-transformers==2.7.0
torch==2.3.0
qdrant-client==1.7.0
python-json-logger
